.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.modal {
  z-index: 10;
  position: absolute;
  overflow: hidden;
  top: 10%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  background-color: #eee;
  padding: 20px;

  .modal-content {
  }
}
