.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background-color: #0e0e0e;
  color: #fff;
  cursor: pointer;

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    margin-right: 12px;
    background: transparent;

    &.active {
      background: green;
    }
  }
}
